* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

html {
    background-color: rgb(255, 255, 255);
}

body {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}



.header-project {
    position: fixed;
    z-index: 3;
    width: 1280px;
    height: 80px;
    background-color: white;
    top: 0;
    border-bottom: 1px solid gainsboro;
}

/* Navbar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}

/* Logo home  */
.logo {
    display: flex;
    height: 80px;
    align-items: center;
    cursor: pointer;
    margin-left: 50px;
}
#logo-layer-img {
    width: 63px;
    height: 65px;
}

.logo-text {
    margin-left: 6px ;
}

#logo-text-osf {
    width: 74px;   
    height: 25px;
    color: #011847;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
    /* Text style for "O, SF" */
    letter-spacing: 6.1px;
    margin: 6px 0px;
}

#logo-text-academy {
    width: 74px;    
    height: 17px;
    color: #84bc22;
    font-size: 18px;
    margin: 4px 0px;
}

/* ul-nav */
.ul-nav {
    display: flex;
    width: 580px;
    font-size: 14px;
    color: #534f4b;
    font-weight: 600;
    margin-left: 150px;
}

.ul-nav li {
    display: flex;
    cursor: pointer;
    height: 80px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.ul-nav a {
    color: #534f4b;
    font-weight: normal;
}

.ul-nav a:hover {
    color: #84bc22;
}

.caret-down {
    margin-left: 8px;
}

.ul-nav .special-li {
    opacity: 0.6;
    width: 70px;
}

/* Font icons */
.icons {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
}
.icons i {
    font-size: 22px;
    display: flex;
    opacity: 0.6;
    cursor: pointer;
}

/* quantity products */
.quantity-products {
    display: flex;
    font-size: 10px;
    font-weight: bold;
    color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid green;
    padding: 7px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10px;
    right: 5.5px;
}


/* Hiden services-section for the products */
.section-services-products {
    display: flex;
    position: absolute;
    width: 1280px;
    height: 380px;
    align-items: center;
    justify-content: center;
    background-color: #262a32;
    padding: 0px 30px;
}

.services-products {
    display: flex;
    width: 870px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Lato - Extra Bold";
}

.services-products a {
    text-decoration: none;
    color: #cecaca;
}

.services-products a:hover {
    text-decoration: none;
    color: #ffffff;
}

.h3-products-title {
    margin-bottom: 20px;
}

.products-categories {
    width: 75%;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.products-list li {
    width: 33.3%;
}

.products-list, .products-sale-list {
    font-size: 16px;
    line-height: 31px;
}

#services-products-photo {
    width: 271px;
    height: 276px;
}


.style-services-link {
    background-color: #262a32;
    color: #ffffff;
    border-top: 15px solid white;
    padding-bottom: 12px;
    border-bottom: 3px solid #84bc22;
    opacity: 1;
    transition: 700ms;
}







/* Footer */

.footer-project {
    display: flex;
    background-color: white;
    width: 100%;
    height: 350px;
    padding: 0px 40px;
    padding-top: 40px;
    justify-content: space-between;
    line-height: 31px;
}

/* STYLE FOR EVERY p/li/a */
.footer-project p, .footer-project li, .footer-project a {
    text-decoration: none;
    color: #45413e;
    opacity: 0.8;
}
.footer-project a:hover {
    color: #45413e;
    opacity: 0.5;
}

/* H4 padding and sizing to align perfect */
.footer-project h4 {
    padding-bottom: 10px;
}

.col-three-footer, .col-four-footer {
    padding-top: 41px;
}

/* COL-ONE */
.col-one-footer {
    line-height: 20px;
    color: #45413e;
}
.col-one-footer p, .col-one-footer a {
    color: #45413e;
    opacity: 1;
}


/* COL-ONE -> COL-CONTACT */
.col-contact-footer {
    margin-top: 30px;
}
.col-contact-footer p {
    margin-bottom: 12px;
}

/* COL-SIX - ICONS */
.social-links-icons {
    display: flex;
}
.social-links-icons li {
    font-size: 16px;
    margin: 0px 10px;
}











/* FORM LOGIN BOX */
.form-login-box {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 465px;
    background-color: #ffffff;
    align-items: center;
    color: #45413e;
    padding-top: 52px;
    border-radius: 10px;
    margin: auto;
}

.form-login-box h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.form-login-box div {
    display: flex;
    flex-direction: column;
    width: 390px;
    margin: 0px auto;
}

.form-login-box div label {
    padding-top: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bolder;
}

.form-login-box div input {
    padding: 0px 15px;
    font-size: 14px;
}

#forget-password {
    float: right;
    color: #84bc22;
    cursor: pointer;
}

#togglePassword {
    float: right;
    margin-top: -25px;
    margin-right: 15px;
    opacity: 0.8;
    cursor: pointer;
}

#form-input-email, #form-input-password {
    height: 35px;
    border: 2px solid #d7d7d7;
    border-radius: 25px;
}

.form-login-box button {
    width: 181px;  
    height: 36px;
    border: none;
    background-color: #84bc22;
    border-radius: 25px;
    margin-top: 55px;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

#create-account {
    color: #84bc22;
    cursor: pointer;
}



/* FORM REGISTER  */
.form-create-account-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 465px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    padding-top: 10px;
    color: #45413e;
    top: 50%;
    transform: translateY(-50%);
}

.form-create-account-box h2 {
    font-size: 30px;
}

.form-create-account-box div {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 10px;
}

.form-create-account-box .check-policy {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-create-account-box .check-policy label {
    margin-left: 15px;
} 


.form-create-account-box div label {
    margin: 12px 0px 4px 0px;
}

.form-create-account-box div input {
    height: 25px;
    border-radius: 10px;
    border: 2px solid #999999;
    padding-left: 8px;
    font-size: 14px;
}

.form-create-account-box button {
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #84bc22;
    color: #ffffff;
    font-weight: bold;
}



.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    overflow: auto; /* Enable scroll if needed */
}





/* Non product page 404  */
.non-product-404 {
    display: flex;
    flex-direction: column;
    background-color: #f1edea;
    align-items: center;
    margin: 0px auto;
    padding-top: 80px;
}


.non-product-404 a{
    text-decoration: none;
    color: #84bc22;
    cursor: pointer;
}

.non-product-404 a:hover {
    color: #68941c;
}

.non-product-container {
    display: flex;
    background-color: #ffffff;
    height: 492px;
    width: 1170px;
    justify-content: center;
    border-radius: 8px;
}


.non-product-subtitle {
    margin-top: 55px;
    font-size: 14px;
    color: #45413e;
}
.non-product-subtitle-link {
    color: #84bc22;
    cursor: pointer;
}
.non-product-subtitle-link:hover {
    color: #68941c;
}
.subtitle-slash {
    margin: 0px 15px;
}

#non-product-title {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 48px;
    color: #45413e;
    font-family: 'Lato', sans-serif ;
}

#non-product-hr1, #non-product-hr2 {
    height: 2px;
    width: 520px;
    position: relative;
    bottom: 65px;
    border: none;
}

#non-product-hr1 {
    align-self: flex-start;
    margin-left: 55px;
}

#non-product-hr2 {
    align-self: flex-end;
    margin-right: 55px;
}

.non-product-oops h1 {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    font-size: 112px;
    line-height: 60px;
    color: #84bc22;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    padding-right: 80px;
}

.non-product-oops img {
    position: relative;
    right: 40%;
    z-index: 0;
}

.non-product-message-box {
    margin-top: 70px;
    width: 572px;
    padding-left: 6px;
}

.non-product-message-box h3 {
    font-size: 24px;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
}

.non-product-message-box p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    text-align: justify;
    color: #555555;
}

#homepage-paragraph {
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 17px;
}


.non-product-message-box label {
    font-size: 24px;
    font-weight: bold;
}

.non-product-message-box input {
    width: 100%;
    height: 35px;
    border: 2px solid #e8e2d6;
    border-radius: 15px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 12px;
    color: #555555;
}

#non-product-searchengine {
    position: relative;
    float: right;
    top: -28px;
    right: 18px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    color: #898888;
    font-size: 22px;
}




/* SECTION HOME PAGE */
main {
    background-color: white;
    padding-bottom: 20px;
}

/* SECTION ONE */
.section-one-homepage {
    display: flex;
    margin-top: 105px;
    justify-content: center;
}

.col-1-section-one-homepage, .col-2-section-one-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-1-section-one-homepage {
    background-color: #262a32;
    border-radius: 10px;
}

.info-text-section-one-homepage {
    position: absolute;
    color: #ffffff;
    margin-top: 70px;
    margin-left: -140px;
}

#h1-col1-section-one {
    /* Style for "Control an" */
    width: 600px;
    font-family: 'Lato';
    font-size: 45px;
    line-height: 130%;
    margin-bottom: 100px;
}

#p-col1-section-one {
    width: 350px;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 45px;
}

#btn-col1-section-one {
    color: #e7e7e7;
    font-size: 14px;    
    background-color: transparent;
    padding: 10px 32px;
    border: 2px solid #b5b5b5;
    border-radius: 25px;
    cursor: pointer;
}

.list-buttons-section-one-homepage {
    position:absolute;
    margin-top: 450px;
    display: flex;
    margin-left: 20px;
}

.list-buttons-section-one-homepage li {
    width: 8px;
    height: 8px;
    background-color: #bcbcbc;
    border-radius: 50%;
    margin: 0px 7px;
}


.col-2-section-one-homepage {
    margin-left: 28px;
}

.col-2-section-one-homepage img {
    border-radius: 10px;
    margin-bottom: 40px;
}

#p1-col2-section-one {
    color: #3d3835;
    width: 200px;
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
}
#p2-col2-section-one {
    width: 200px;
    color: #3d3835;
    font-size: 14px;
    text-align: center;
    margin-bottom: 28px;
}
#btn-col2-section-one {
    display: flex;
    border: 2px solid #3a5b96;
    font-weight: bold;
    background-color: transparent;
    border-radius: 25px;
    padding: 10px 38px;
    font-size: 14px;
    cursor: pointer;
}
#btn-col2-section-one a {
    color: #3a5b96;
}
#i-col2-section-one {
    position: relative;
    right: 20px;
    font-weight: bold;
}


/* SECTION TWO */

.section-two-popular-items {
    display: flex;
    flex-direction: column;
    background-color: #262a32;
    align-items: center;
    margin: 0px auto;
    margin-top: 30px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.section-two-popular-items div {
    display: flex;
}


.section-two-title-div {
    position: relative;
    width: 100%;
}

#section-two-title {
    color: #ffffff;
    font-family: 'Lato';
    font-size: 25px;
    text-align: center;
    margin: 0px auto 40px;
    position: relative;
}

#section-two-hr1, #section-two-hr2 {
    border: 1px solid #ffffff;
    opacity: 0.1;
    width: 460px;
    position: relative;
    bottom: 55px;
}

#section-two-hr1 {
    position: absolute;
    margin-left: 55px;
}

#section-two-hr2 {
    position: absolute;
    right: 0px;
    margin-right: 55px;
}




.section-two-filters {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    color: #45413edf;
    height: 165px;
    margin: 0px 55px;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}

.section-two-col-filter {
    display: flex;
    width: 270px;
    height: 32px;
    margin: 0 15px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.section-two-col-filter label {
    width: 70px;
    text-align: center;
    margin-right: 10px;
}

.section-two-col-filter select {
    width: 200px;
    height: 32px;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 0px 20px;
}

.colors-filters {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.colors-filters input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid grey;
    border-radius: 50%;
}

.colors-filters input[type="radio"]:checked {
    border: 2px solid black;
}

.colors-filters #white {
    background-color: white;
}
.colors-filters #lightblue {
    background-color: lightblue;
}
.colors-filters #darkgrey {
    background-color: darkgrey;
}
.colors-filters #green {
    background-color: green;
}
.colors-filters #blue {
    background-color: blue;
}
.colors-filters #orange {
    background-color: orange;
}
.colors-filters #red {
    background-color: red;
}


#section-two-filters-products-results {
    color: white;
    margin: 33px 0px;
    font-size: 14px;
    color: #45413e;
}
#nr-products-results {
    font-size: 16px;   
}



.list-popular-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 55px;
    align-items: center;
    justify-content: space-between;
}

.list-popular-items li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 271px;
    height: 360px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 25px;
}

.list-popular-items li img {
    border-radius: 8px 8px 0px 0px;
    width: 271px;
    height: 261px;
}

.p-descr-list-popular-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 228px;
    height: 40px;
    color: #45413e;
    font-size: 16px;
    text-align: center;
    margin: 10px 0px;
}

.p-price-list-popular-items {
    color: #45413e;
    font-size: 16px;
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
}

/* Only when hover over price */
.mario {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 32px;
    border: 1px solid black;
    border-radius: 15px;
}
#span1 {
    color: #24c36c;
    font-weight: bold;
    font-size: 14px;
}
#border {
    height: 31px;
    width: 1px;
    background-color: black;
}


.btn-section-two {
    display: flex;
    border: 2.5px solid #e8e2d6;
    background-color: transparent;
    border-radius: 20px;
    color: #ffffff;
    opacity: 0.9;
    font-size: 14px;
    padding: 10px 85px;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
}
#btn-section-two-load-more:hover {
    background-color: #333842;
    color: #fae5e5;
}
.reload-load-more {
    position: absolute;
    margin-left: 140px;
}



/* SECTION THREE - BANNER */
.section-three-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-three-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    color: #ffffff;
}
.section-three-text h1 {
font-family: "Lato - Extra Bold";
font-size: 48px;
padding-bottom: 15px;
}
.section-three-text p {
    width: 360px;
    padding-top: 15px;
}



/* SECTION FOUR - FEATURED PRODUCTS */

.section-four-featured-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262a32;
    height: 555px;
}

.section-four-title {
    color: #ffffff;
    text-align: center;
    padding-top: 35px;
    font-size: 18px;
}

.section-four-title h2 {
    font-size: 36px;
    font-family: 'Lato';
    margin-bottom: 12px;
}

.changes-products-div {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
}

.btn-section-four {
    color: #ffffff;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #2d343a;
    margin: 0px 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.hr-section-four {
    width: 235px;
    height: 3px;
    background-color: #ffffff9d;
}

#p-section-four-slash {
    font-size: 30px;
    margin: 0px 10px;
    font-weight: bold;
}




.list-featured-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 55px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
}

.list-featured-products li {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 296px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;

}

.list-featured-products li img {
    width: 270px;
    height: 190px;
    border-radius: 8px 8px 0px 0px;
}

.p-descr-list-featured-products {
    width: 151px;
    height: 31px;
    font-family:Arial, Helvetica, sans-serif;
    color: #45413e;
    font-size: 16px;
    text-align: center;
    margin: 20px 0px;
}

.p-subtitle-list-featured-products {
    width: 65px;
    height: 14px;
    color: #84bc22;
    font-family: "Lato";
    font-size: 14px;
    text-align: center;
}







/* SECTION FIVE  */

.section-five {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #45413e;
}


.col-section-five {
    display: flex;
    width: 330px;
    margin: 0px 45px;
}

.col-section-five img {
    width: 60px;
    height: 65px;
    margin-right: 30px;
    margin-top: 10px;

}


.text-section-five h3 {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
}

.text-section-five p {
    color: #868380;
    font-size: 15px;
    line-height: 18px;
}








/* SPECIFIC PRODUCT */

.section-specific-products { 
    width: 100%;
    padding: 0px 55px;
    background-color: #f1edea;
}

.section-specific-product-details {
    display: flex;
    background-color: #ffffff;
    padding-bottom: 50px;
}

#section-specific-product-main-image {
    width: 578px;
    height: 526px;
    margin-right: 33px;
}

#maximize-product-image {
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    color: #84bc22;
    font-size: 22px;
    cursor: pointer;
}

#maximize-product-image:hover {
    color: #3c4827;
}

.section-specific-product-images {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.specific-product-small-image {
    width: 73px;
    height: 71px;
    margin-bottom: 24px;
    opacity: 0.5;
    border: 1px solid #45413e;
}


.section-details-for-specific-product {
    margin-top: 45px;
    margin-left: 70px;
    margin-right: 50px;
}

.section-details-for-specific-product h1 {
    font-size: 48px;
    font-family: 'Lato';
    margin-bottom: 40px;
    color: #45413e;
}

.section-details-for-specific-product select {
    width: 152px;
    height: 36px;
    border: 2px solid #d2cec6;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #45413e;
}

.specific-product-quantity {
    display: flex;
    margin-bottom: 50px;
}

.specific-product-quantity input {
    width: 100px;
    border: 2px solid #d2cec6;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    margin-right: 15px;
    color: #45413e;
}
.specific-product-quantity input::-webkit-outer-spin-button, .specific-product-quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#specific-product-quantity-operators {
    display: flex;
    position: absolute;
    width: 80px;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 14px;
    margin-left: 10px;
    color: #57524e;

}

.specific-product-quantity button {
    width: 160px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    padding: 12px 28px;
    background-color: #84bc22;
    color: white;
    font-weight: bold;
    border: 2px solid #e8e2d6;
    cursor: pointer;
}
.specific-product-quantity button:hover {
    background-color: #597f17;
}

#specific-product-descr {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 22px;
    color: #45413e;
}

#specific-product-readmore {
    margin-bottom: 32px;
    font-size: 16px;
    cursor: pointer;
}

#specific-product-readmore a {
    color: #84bc22;
}

.section-specific-products-icons {
    display: flex;
}

.section-specific-products-icons p {
    color: #585450;
    margin-right: 35px;
    font-size: 16px;
}

.section-specific-products-icons li {
    margin-right: 20px;
    color: #585450;
    width: 20px;

}



.specific-product-subtitles {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.specific-product-subtitles p {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 0px 10px;
    padding: 0px 40px;
    font-family: "Lato";
    color: #bdc3c7;
    height: 70px;
    background-color: #262a33;
    border-radius: 15px 15px 0px 0px;
}

.specific-product-subtitles-descr {
    display: flex;
    background-color: #262a33;
    color: #ffffff;
    font-size: 16px;
    padding: 75px 0px;
    line-height: 24px;
}

.specific-product-subtitles-descr p {
    margin: 0px 50px;
}
