* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

html {
    background-color: whitesmoke;
}

body {
    width: 1280px;
    margin: 0 auto;
    z-index: 10;
}

.osf-project {
    width: 90%;
}

.header-project {
    width: 100%;
    height: 80px;
    background-color: white;
}

/* Navbar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

/* Logo home  */
.logo {
    display: flex;
    height: 80px;
    align-items: center;
    cursor: pointer;
}
#logo-layer-img {
    width: 63px;
    height: 65px;
}

.logo-text {
    margin-left: 6px ;
}

#logo-text-osf {
    width: 74px;   
    height: 25px;
    color: #011847;
    font-family: "Lato - Extra Bold";
    font-size: 32px;
    font-weight: bold;
    /* Text style for "O, SF" */
    letter-spacing: 6.1px;
    margin: 2px 0px;
}

#logo-text-academy {
    width: 74px;    
    height: 17px;
    color: #84bc22;
    font-size: 18px;
    margin: 2px 0px;
}

/* ul-nav */
.ul-nav {
    display: flex;
    width: 600px;
    font-size: 14px;
    color: #534f4b;
    font-weight: 600;
    padding-left: 50px;
}

.ul-nav li {
    display: flex;
    cursor: pointer;
    height: 80px;
    width: 110px;
    align-items: center;
    justify-content: center;
}

.caret-down {
    margin-left: 8px;
}

.ul-nav .special-li {
    opacity: 0.6;
    width: 80px;
}

/* Font icons */
.icons {
    width: 260px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons i {
    font-size: 20px;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    cursor: pointer;

}





/* Hiden services-section for the products */
.section-services-products {
    display: flex;
    width: 1280px;
    height: 390px;
    align-items: center;
    justify-content: center;
    background-color: #262a32;
    padding: 0px 30px;
}

.services-products {
    display: flex;
    width: 870px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Lato - Extra Bold";
}

.services-products a {
    text-decoration: none;
    color: #cecaca;
}

.services-products a:hover {
    text-decoration: none;
    color: #ffffff;
}

.h3-products-title {
    margin-bottom: 20px;
}

.products-categories {
    width: 75%;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.products-list li {
    width: 33.3%;
}

.products-list, .products-sale-list {
    font-size: 16px;
    line-height: 31px;
}

#services-products-photo {
    width: 271px;
    height: 276px;
}


.style-services-link {
    background-color: #262a32;
    color: #ffffff;
    border-top: 15px solid white;
    padding-bottom: 12px;
    border-bottom: 3px solid #84bc22;
    opacity: 1;
    transition: 700ms;
}
